/* 公共配置 */

.dbUI-filtergrid {
    text-align: center;
    box-shadow: 0 0 20px 1px lightblue inset;
}

.dbUI-filtergrid * {
    outline: none;
}

.dbUI-filtergrid th, td {
    padding: 6px 5px 6px 5px;
    border: 1px solid lightgray;
    border-bottom: 0px;
    border-right: 0px;
}

/* 配置gird边框 */

.dbUI-filtergrid thead tr:last-child th {
    border-bottom: 1px solid lightgray;
}

.dbUI-filtergrid thead tr th[rowspan="2"] {
    border-bottom: 1px solid lightgray;
}

.dbUI-filtergrid tr:last-child td {
    border-bottom: 1px solid lightgray;
}

.dbUI-filtergrid tr th:last-child, td:last-child {
    border-right: 1px solid lightgray;
}

/* 筛选列头工具 */

.dbUI-filtergrid thead .cnf-filter {
    border: 1px solid lightgray;
    width: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding-right: 3px;
}

.dbUI-filter-console {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 300px;
    box-shadow: 0 0 3px 3px lightgray;
    background-color: white;
    user-select: none;
}

.dbUI-filter-console-col {
    width: 295px;
    border: 1px solid lightgray;
    height: 40px;
    border-radius: 5px;
    margin: 3px 2px;
}

/* 配置列头部分 */

.dbUI-filtergrid thead .title {
    display: table-cell;
    width: auto;
    position: relative;
}

.dbUI-filtergrid thead .title .asc {
    position: absolute;
    right: -20px;
    top: -3px;
    color: lightgray;
    cursor: pointer;
    width: 15px;
    height: 10px;
    font-size: 12px;
    user-select: none;
}

.dbUI-filtergrid thead .title .desc {
    position: absolute;
    right: -20px;
    bottom: -3px;
    color: lightgray;
    cursor: pointer;
    width: 15px;
    height: 10px;
    font-size: 12px;
    user-select: none;
}

.dbUI-filtergrid thead .title .this {
    color: rgb(156, 156, 156);
}

/* 配置列头列尾的控件样式 */

.dbUI-filtergrid thead .dbUI-filtergrid-head-filter-row .dbUI-filtergrid-head-filter-cell input {
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 8px 0 8px;
    width: auto;
}

.dbUI-filtergrid thead .dbUI-filtergrid-head-filter-row .dbUI-filtergrid-head-filter-cell select {
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 20px 0 8px;
    width: 100%;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell input {
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 8px 0 8px;
    width: auto;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell select {
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 20px 0 8px;
    width: 100%;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager {
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager label {
    display: inline-block;
    margin: 0px 3px;
    cursor: pointer;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager span {
    display: inline-block;
    margin: 0px 3px;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pagerlist {
    display: inline-block;
    width: auto;
    height: 30px;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager-prev {
    display: inline-block;
    height: 30px;
    line-height: 25px;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager-prev::before {
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager-index {
    width: 40px;
    text-align: center;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager-next {
    display: inline-block;
    height: 30px;
    line-height: 25px;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager-page {
    display: inline-block;
    cursor: pointer;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager-end {
    display: inline-block;
    cursor: pointer;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager-next::before {
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.dbUI-filtergrid tfoot .dbUI-filtergrid-foot-row .dbUI-filtergrid-foot-cell .dbUI-filtergrid-pager-segment {
    width: 0;
    border: 1px solid lightgray;
    height: 30px;
    margin: 0px 4px;
}